.alto
{
    height: 100%;
}
.naranja 
{
    background-color: orange;
}
.amarillo 
{
    background-color: yellow;
}
.gris 
{
    background-color: grey;
}
.verde 
{
    background-color: rgb(91, 196, 91);
}
.lima 
{
    background-color: rgb(164, 255, 72);
}
.rosa 
{
    background-color: rgb(243, 170, 215);
}
.morado
{
    background-color: rgb(210, 112, 255);
}
.azulillo
{
    background-color: rgb(179, 241, 221);
}