/* alineaciones */
.alinearCentro
{
    text-align: center;   /* left right justify */
    align-items: center;
    justify-content: center;   /* space-between  space-around */
    margin: auto;
    margin: 0px auto;

    position: absolute;
    top: 50%;
    left: 50%;

    vertical-align: baseline;  /* alineacion  UD2 tanda2 ej13 */
}

/* position */
.posicion
{
    z-index: 1;   /* cuanto mas pequeño mas abajo */

    position: relative;   /* UD2 tanda3 ej2 y ej3 */
    top: 60px; 
    right: 100px; 

    position: absolute;   /* UD2 tanda3 ej4 y ej7 */
    top: 80px;
    left: 90%;

    float: left;  /* imagenes y cajas */
    clear: right;  /* ignora las cosas que flotan */

    caption-side: bottom;  /* caption table */

    visibility: hidden;  /* visible */
    display: none;  /* desaparece */
}

/* formato texto */
.texto 
{
    text-indent: 60px;  /* sangria */
    line-height : 2em;  /* interlineado */
    font-variant: small-caps;   /* mayusculas pequeñas */
    text-transform: capitalize;   /* mayusculas */ 
    text-decoration: none;   /* subrayado */
    font-style: italic;
    font-weight: normal;
    font-family: Verdana;
    list-style-type: none;  /*  url(../imagenes/clock.png)   quita formato lista o url(ruta imagen) */
    text-shadow: 1px 1px 2px red, 5px 5px 3px blue;    /* x y difuminacion color */
}


/* texto en diferentes columnas */
.columnas-texto
{
    margin-bottom: 20pt;
    padding: 7pt;
    border-radius: 20pt;
    background-color: rgb(183, 177, 168);
    column-count: 3;
    column-rule: 2px dashed blue;  /* dashed dotted solid */
}


/* bordes */
.bordes
{
    border-image: url(../imagenes/bordes.png) 33% fill;  /* borde de imagenes  UD2 tanda2 ej18 */
    border-radius: 10pt 25pt 25pt 10pt;   /* empieza por arriba-izquierda, arriba-derecha... */
    border-radius: 20pt 0pt;   /* boreda los opuestos */
    box-shadow: 0px 0px 20px lime, 0px 0px 20px red inset;  /* inset: sombras internas */
}


/* fondos */
.fondos
{
    background-image: url(../imagenes/reloj.png);
    background-repeat: no-repeat;
    background-position: right top;  /* x y  _._  tambien admite porcentajes */
    background-origin: border-box;  /* padding-box content-box  _._  comienzo del fondo */
    
    /* varias imagenes y color */
    background: url(../imagenes/madera1.png) no-repeat right bottom, 
            url(../imagenes/logo1.png) no-repeat right top,
            url(../imagenes/logo1.png) no-repeat left top,
            url(../imagenes/logo1.png) no-repeat left bottom,
            darksalmon;  

    background-image: url(../imagenes/logo1.png), url(../imagenes/logo1.png);
    background-repeat: no-repeat;
    background-position: left top, center center;
    background-size: 100px 100px , 200px 200px, 700px 550px;
    background-size: cover;   /* da el tamaño maximo si deformar la imagen */

    background: linear-gradient(90deg, #6b3c50, #1E9614, white);
    background: radial-gradient( darkgrey 3%, var(--gris) 97%, var(--gris) 0%);

}


/* imagenes */
.img
{
    cursor: hand;   /* apariencia del raton */
    object-fit: cover;  /* fill contain */
}


/* filtros y animaciones */
.filtros
{
    filter: brightness(3);  /* UD2 tanda7 ej1 */
    transition: width 2s, background 2s;   /* que transiciona y cuanto tarda */
    transform: scale(1.8);  /* cambio */
    
    animation: rodeo;
    animation-duration: 4s;
    animation: giro 4s 0s infinite normal linear;
}

@keyframes rodeo
{
    0%{transform: translate(0px);}
    25%{transform: translate(500px, 0px);}
    50%{transform: translate(500px, 500px);}
    75%{transform: translate(0px, 500px);}
    100%{transform: translate(0px);}
    /* 98%{transform: translateY(0px);} */
}


/*** contenido interactivo ***/
/* efecto parallax  UD3 ej2 */

/* carrousel   UD3 ej5 */

/* fondo infinito con patron  UD3 ej3 */
    /*  en el html
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="app.js"></script>

    en app.js
    $(document).ready(function(){
        $(window).scroll(function(){
            var barra = $(window).scrollTop();
            var posicion = barra * 0.20;

            $('body').css({
                'background-position': '0 -' + posicion + 'px'
            });
    	});
    });  */
body{
    background:url(../img/waves.gif); /* Nuestra textura */
	background-repeat:repeat;   /* Indicamos que la textura se repetira */
	background-attachment: fixed; /* Establecemos una posicion fija para la textura */
}

/* fondo a capas   UD3 ej4 */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(../img/Fondo.png) 
    center center;
    background-size: cover;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.pos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.mountain5 {
    background: url(../img/M1.png) 
    center center;
    background-size: cover;
    transform: scale3d(1.5, 1.0, 1.4);
    opacity: 0.2;
    animation: scaler 0.8s ease-out;
    animation-fill-mode: forwards;
}
.mountain4 {
    background: url(../img/m2.png) 
    center center;
    background-size: cover;
    transform: scale3d(1.4, 1.3, 1.3);
    opacity: 0.1;
    animation: scaler 1.2s ease-out;
    animation-fill-mode: forwards;
}
.mountain3 {
    background: url(../img/m3.png) 
    center center;
    background-size: cover;
    transform: scale3d(1.3, 1.1, 1.2);
    opacity: 0.2;
    animation: scaler 1.3s ease-out;
    animation-fill-mode: forwards;
}
.mountain2 {
    background: url(../img/m4.png) 
    center center;
    background-size: cover;
    transform: scale3d(1.2, 1.1, 1.1);
    opacity: 0.1;
    animation: scaler 1.4s ease-out;
    animation-fill-mode: forwards;
}
.mountain1 {
    background: url(../img/m5.png) 
    center center;
    background-size: cover;
    transform: scale3d(1.0, 1.3, 1.0);
    opacity: 0.1;
    animation: scaler 1.5s ease-out;
    animation-fill-mode: forwards;
}

@keyframes moveUp {
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes scaler {
    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}