body
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div
{
    padding: 10px;
    border-radius: 15px;
    background-color: gray;
    width: 15%;
    transition: width 2s, background 2s;
}

div:hover
{
    transition-duration: 2s;
    width: 30%;
    background-color: red
}

