h1
{
    text-align: center;
}
.normal
{
    font-size: 1.5em;
    text-decoration: underline;
    color: red;
}
div span
{
    border: thick solid black;
    padding: 20px;
    font-size: 2em;
}
div
{
    position: relative;
    background-color: lightblue;
    border: thick solid black;
    padding: 40px;
    height: 200;
}

.caja1
{
    background-color: red;
}
.caja2  
{
    background-color: blue;
    position: absolute;
    top: 80px;
    left: 150px;
}
.caja3
{
    background-color: green;
}
.caja4
{
    background-color: yellow;
}