header
{
        width: 100%;
    nav
    {
        @include flex("row","center","center");     
        background: $degradadoReves;
        width: 100%;
        ul
        {
            @include flex("row","space-evenly","center");
            flex-wrap: wrap;   
            width: 50%;
            li
            {
                padding: 0.6em;
                list-style: none;
                a 
                {
                    text-decoration: none;
                    color: $blanco;
                }                
            }
            li:hover 
            {
                @include borde-medio-redondo;
                background: $degradado;
            }
        }
        
    }
    .logotipo
    {      
        @include fondo-negro-centro();  
        width: 100%;
        img 
        {
            width: 30%;
        }
    }
}

main 
{
    @include flex("column","justify","center");
    section 
    {
        article
        {
            width: 100%;            
            div 
            {
                text-align: right;
            }
            img 
            {
                width: 200px;
                position: relative;
                top: 0;
                left: 90%;
            }        
        }
        form 
        {
            @include flex("column","left","left");
            input, textarea
            {
                @include borde-medio-redondo;
                width: 90%;
                margin-top: 10px;
            }
            textarea 
            {
                height: 70px;
            }
            input[type="submit"]
            {
                background-color: $negro;
                width: fit-content;
                margin: auto;
            }
        }
    }
    aside 
    {
        width: 100%;
        margin-bottom: 20px;
    }
}

footer 
{
    @include flex("row","center","center");
    @include fondo-negro-centro();
}

h2 
{
    @include formato-h2;            
}
p 
{
    text-align: justify;
}