body
{
    color: white;
    display: flex;
    justify-content: center;
}
.padre
{
    background-color: #CCF;
    border: 6px solid rgb(125, 3, 195);
    padding: 15px;
    width: 50%;
}
.capahija1
{
    background-color: lightskyblue;
    border: 2px solid darkblue;
    padding: 15px;
    position: relative;
}
.capahija2
{
    background-color: rgb(255, 204, 243);
    border: 2px solid purple;
    width: 55%;
    padding: 15px;
}
.capahija3
{
    border: 4px solid blue;
    padding: 15px;
    width: 50%;
    height: 90px;
    position: absolute;
    bottom: 3px;
    right: 18px;
}
.capahija4
{
    background-color: grey;
    border: 2px solid brown;
    padding: 15px;
    width: 30%;    
    position: absolute;
    top: 22%;
    right: 18px;
}
.capahija4 ul
{
    color:rgb(3, 3, 126);
}
.vacio
{
    border: 4px solid orange;
    height: 200px;
    width: 60%;
}
p
{
    background-color: white;
    font-weight: bold;
    color:rgb(3, 3, 126);
    padding: 5px;
    width: 100%;
    text-align: center;
}