/*
    colores 
        #FAA228
        #F04800
        #D92B0B
        #FF1512

        #373c52

        rgb(150, 166, 233)
*/

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(20%,1fr) 5fr 1fr; 
    /* gap: 10px; */

    background-color: #373c52;   
    color: #FAA228;
}

a
{
    text-decoration: none;
    color: #FAA228;
}




/*** LOGO y MENU ***/
header
{
    grid-column: 1/3;
    grid-row: 1/2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: auto 15%;
}
.logo 
{
    width: 100px;
}
.logo a
{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo a img
{
    width: 100%;
}
#btnMenu
{
    border-radius: 7px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#btnMenu img
{
    margin: 15px;
    height: 40%;
}


.menu
{
    display: none;
    position: absolute;
    top: 4%;
    width: fit-content;
    /* padding: 10px; */
    /* border: 1px dashed rgb(150, 166, 233); */
    background-color: rgb(150, 166, 233);
}
.menu ul
{
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.menu ul li
{
    list-style: none;
    margin: 10px 0px;
    padding: 10px 15px;
}
.menu ul li:hover
{
    /* transition: background #373c52 ease; */
    background-color: #373c52;
}

.deslizarIzq
{
    background-color: #FAA228;
    right: 0%;
    transition: position 1s;
} 


/*** contenido ***/
main
{
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    padding: 10px 0;
}




/*** FOOTER ***/
footer
{
    grid-column: 1/3;
    grid-row: 3/4;

    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    background-image: radial-gradient(rgb(250, 235, 221) 3%, darkgrey 97%, darkgrey 0%);
}
.iconofooter
{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.iconofooter a img
{
    height: 25px;
}



/*** SUGERENCIAS ***/
.sugerencias
{
    width: 85%;
    margin: auto;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto; 
    gap: 10px;
}

.sugerencias * 
{
    grid-column: 1/3;
    padding: 5px;
}
input,textarea,select
{
    border: 1px solid rgb(150, 166, 233); 
    border-radius: 5px;
}

input:focus, textarea:focus, select:focus
{
    border: 1px solid #FAA228;   
}

.sugerencias textarea
{
    height: 100px;
}

.sugerencias button
{
    margin-top: 15px;
    padding: 10px;
    border: 0px ;
    border-radius: 10px;
}



/* 
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: minmax(2% 1fr) 5fr 2fr;  

a
{
    text-decoration: none;
}

header
{
    grid-column: 1/4;
    grid-row: 1/2;
    
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
}

.logo
{
    grid-column: 1/2;
    grid-row: 1/2;
}

.menu
{
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu li
{
    list-style: none;
}


.login
{
    grid-column: 3/4;
    grid-row: 1/2;
}


footer
{
    grid-column: 1/4;
    grid-row: 3/4;

    margin-top: 10px;
    padding: 10px;
    background-image: radial-gradient(white 3%, darkgrey 97%, darkgrey 0%);
}
.iconofooter
{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.iconofooter a img
{
    height: 25px;
}


/***  Sugerencias  ***/
/*
main
{
    grid-column: 2/3;
    grid-row: 2/3;     
}
.sugerencias
{   
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}

.sugerencias label
{
    grid-column: 1/2;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}
input,textarea,select
{
    grid-column: 2/3;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
input:focus, textarea:focus, select:focus
{
    border: 2px solid rgb(77, 93, 157);   
}
textarea
{
    height: 100px;
}

.sugerencias button
{
    grid-column: 1/2;
    padding: 6%;
    justify-content: center;
    background-color: rgb(77, 93, 157);  
}

.sugerencias button:hover .avion
{
    animation: avion 2s 0s 1;
} */