body
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;    
}
#container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#container>div
{
    padding: 50px;
    margin: 20px;
    background-color: darkorchid;
    color: white;
    font-size: 2.6em;
}