.recuadro1
{
    color: rgb(247, 64, 9);
}
.recuadro2
{
    color: rgb(247, 64, 9);
}
.recuadro3
{
    color: rgb(247, 64, 9);
}
.recuadro4
{
    color: rgb(247, 64, 9);
}
.recuadro5
{
    color: rgb(247, 64, 9);
}