body
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 div
 {
    height: 60px;
    width: 170px;
    margin: 10px;
    padding: 30px;
    background-color: blue;
 }
 div span
 {
    background-color: #2FF;
 }
 img
 {
    border: 2px dashed white;
 }

 div > img[class="baseline"]
 {
    vertical-align: baseline;
 }
 div > img[class="sub"]
 {
    vertical-align: sub;
 }
 div > img[class="super"]
 {
    vertical-align: super;
 }
 div > img[class="top"]
 {
    vertical-align: top;
 }
 div > img[class="text-top"]
 {
    vertical-align: text-top;
 }
 div > img[class="middle"]
 {
    vertical-align: middle;
 }
 div > img[class="bottom"]
 {
    vertical-align: bottom;
 }
 div > img[class="text-bottom"]
 {
    vertical-align: text-bottom;
 }
 div > img[class="medida2em"]
 {
    vertical-align: 2em;
 }
 div > img[class="medida-2em"]
 {
    vertical-align: -2em;
 }
 div > img[class="porcentaje10"]
 {
    vertical-align: 10%;
 }
 div > img[class="porcentaje80"]
 {
    vertical-align: 80%;
 }
 