.contenedor
{
    display: flex;
    justify-content: center;
}
.recuadro1, .recuadro2
{
    column-gap: 30px;
    margin: 20px;
    width: 20%;
    padding: 30px;
}
.recuadro1
{
    background-color: grey;
    border-radius: 0pt 20pt;
}
.recuadro2
{
    background-color: darkgoldenrod;
    border-radius: 0 25pt 0 0;
}