*
{
    line-height : 2em;
    text-align: justify;
}
.especial
{
    background-color: lightgrey;
    font-size: 1.5em;
    font-family: Arial;
    text-indent: 60px;
}
.especial em
{
    font-style: normal;
    font-weight: bold;
}
.especial strong
{
    background-color: #FF6;
    padding: 3px;
    font-style: italic;
    font-weight: normal;
    border-bottom: 1px solid black;
    border-top: 1px solid black;  
}
.especial:first-line
{
    color: blue;
    background-color: lightblue;
    font-variant: small-caps;
    font-family: Verdana;

}
.especial ::first-letter
{
    font-size: 2em;
    font-family: serif;
    color: blue;
}
