.recuadro1
{
    margin-bottom: 20pt;
    padding: 7pt;
    border-radius: 20pt;
    background-color: rgb(183, 177, 168);
    column-count: 3;
    column-rule: 2px solid red;
}
.recuadro2
{
    margin-bottom: 20pt;
    padding: 7pt;
    border-radius: 20pt;
    background-color: rgb(183, 177, 168);
    column-count: 3;
    column-rule: 2px dotted red;
}
.recuadro3
{
    margin-bottom: 20pt;
    padding: 7pt;
    border-radius: 20pt;
    background-color: rgb(183, 177, 168);
    column-count: 3;
    column-rule: 2px dashed blue;
}
