/* ===============================================================
No modificar estos estilos
================================================================== */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
li { 
    list-style: none; 
}
body {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
header, nav, aside, footer, section, .contenedor {
    border: 2px solid #777;
}
header{
    display:flex;
    justify-content: space-between;
}
main{
    display:flex;
}
.lateral1 { 
    width: 20%; 
}
.contenedor { 
    display:flex;
    width: 80%; 
}
section { 
    width: 80%; 
}
.lateral2 { 
    width: 20%; 
}
footer{
    display:flex;
    justify-content: space-between;
}
nav li { 
    display: inline; 
}
section article img { 
    float: left; 
    width: 100px;
}
/* ================================================================
Añade tus estilos aqui
================================================================== */

header
{
    padding: 1em;
}
nav
{
    padding: 0.5em;
    margin-bottom: 0.5em;

    border-bottom: 1px solid #004C99;
}
footer
{
    padding:0.5em;
    margin-top: 1em;

    border-bottom: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    
    background-color: #CCCCCC;

    color:#555;
    font-size: 0.75em;
}
.noticias
{
    padding: 0.5em;

    border: 1px solid #C5C5C5;

    background-color: #CCCCCC;
}
.publicidad
{
    padding: 0.5em;
    margin-top: 1em;

    border: 1px dashed #CC6600;

    background-color: #FFFF33;
}
article
{
    padding: 0.5em;
    margin-bottom: 1em;
}
img
{
    margin: 0.5em;
}
.buscador
{
    margin-right: 1em;
}

header, nav, aside, footer, section, .contenedor
{
    border: none;
}
.lateral2 
{
    border: 1px dashed #CC6600;
}

.lateral2 h2
{    
    background-color: #DB905C;
    padding: 0.2em;
}
.menu_principal
{
    background-color: darkblue;
}
header h1
{
    background-image: url(../imagenes/logo1.png);
    background-size: 40px;
    background-repeat: no-repeat;
    line-height: 1.2em;
}
header h1 span
{
    visibility: hidden;
}

body
{
    font-family: Arial;
    color:black;
    font-size: 0.9em;
    line-height: 1.4em;
}
section article h2
{
    color: #CC6600;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: 0.3em;

    word-spacing: 0.3em;
}
.menu_principal li
{
    margin-right: 1em;
}
.menu_principal li a
{
    color:white;
    font-size: 1.3em;

    letter-spacing: 0.3em;
}
.lateral1
{
    font-size:0.9em;
}
.noticias p span
{
    width: 100%;
    color: #999;
    text-align: right;
}
.noticias h2
{
    color:#003366
}
.publicidad p
{
    color: #555;
}
.publicidad a
{
    color: #CC6600;    
}
section article a
{
    color: #CC6600;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.lateral2 h2
{
    color: #FFF;
    font-size: 1em;
}
section article p
{
    text-align: justify;
    text-indent: 2em;
    line-height: 1.8em;
}
p::first-letter
{
    font-size: 2em;
    font-family: 'Times New Roman';
}
