@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
body
{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.recuadro1
{
    font-family: 'Niconne';
    width: 30%;
    background-color: rgb(193, 184, 173);
    border-radius: 20pt;
    padding: 10pt;
}
.recuadro2
{
    font-family: 'Barrio';
    width: 30%;
    background-color: rgb(193, 184, 173);
    border-radius: 20pt;
    padding: 10pt;
    
}